<%- include('header') %>

<div class="container">
        <%- include('nav') %>

      <main class="main-content">
        <section class="input-section"><%- body %></section>
      </main>
    </div>
<%- include('footer') %>

