<nav class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="/grammar-check" class="active">Grammar</a></li>
        <li><a href="/paraphrasing">Paraphrasing</a></li>
        <li><a href="/plagiarism">Plagiarism</a></li>
        <li><a href="/text-completion">Text Completion</a></li>
        <li><a href="/user-activities">Activity History</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</nav>
