<%- include('header') %>
<div class="container">
  <%- include('nav') %>
  <main class="main-content">
    <section class="input-section">
      <form action="/text-completion" method="POST">
    <textarea id="text" name="text" rows="4" cols="50" required></textarea
    ><br />
        <button type="submit">Complete Text</button>
      </form>


    </section>
  </main>
</div>

<%- include('footer') %>

