* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.header {
  background-color: #f8ace8;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center; /* Center align items horizontally */
  align-items: center; /* Center align items vertically */
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
  background-color: #333;
  width: 200px;
  height: calc(100vh - 80px); /* Adjusted height to fit the viewport */
  overflow-y: auto;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}

.sidebar-menu li {
  padding: 10px;
  text-align: center;
}

.sidebar-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-menu li a:hover {
  background-color: #555;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.input-section {
  margin-bottom: 20px;
}

.input-section textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.input-section button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #f8ace8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button:hover {
  background-color: #f8ace8;
}

.results-section {
  margin-top: 20px;
}

.results-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.error-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.error-list p {
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f8ace8;
  color: #fff;
}

.footer p {
  font-size: 14px;
}

.paraphrasing-section {
  margin-bottom: 20px;
}

.input-output-container {
  display: flex;
}

.input-container {
  flex: 1;
  margin-right: 20px;
}

.input-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.input-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #f8ace8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #f8ace8;
}

.output-container {
  flex: 1;
}

.output-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}


.text_area_left
{
  text-align: left !important;
}
#outputText
{
  text-align: left !important;
}
